@model CocktailMagician.Web.Models.BarViewModel



<style>
    .modal-backdrop {
        z-index: -1;
    }
</style>
<div class="modal fade" id="modalAddCocktailsToBar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="Magician" asp-controller="Bar" asp-action="AddCocktailToBar">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <br />
                        <br />
                        <br />


                        <div class="md-form mb-4">
                            <select asp-for="@Model.CocktailNames" class="mdb-select" multiple="Multiple" hidden required asp-items="@Model.CocktailsToChoose">
                                <option selected hidden disabled value="">Choose Cocktails</option>

                            </select>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button asp-area="Magician" asp-controller="Bar" asp-action="AddCocktailToBar" asp-route-name="@Model.Name" class="btn btn-deep-orange">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
