
@model List<CocktailViewModel>

<div class="col-4" style="position:relative; top:50px; ">

    @foreach (var item in Model)
    {
        <div class="row">
            <center>
                <img src=@item.ImageURL alt="Generic placeholder image" style="    height: 350px;">
                <br>
                <h4 style="color:white; ">@item.Name.ToUpper()</h4>
                <p><a class="btn btn-secondary" style="background-color:#b58900; border:none" role="button" asp-controller="Cocktail" asp-action="CocktailDetails" asp-route-id="@item.Id">View details »</a></p>
            </center>
        </div>
        <br />
        <br />
    }

</div>
