@model CocktailMagician.Web.Models.CocktailViewModel
@*<head>
        <link href="~/lou-multi-select-57fb8d3/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
    </head>*@

    <style>

        .modal-backdrop {
            z-index: -1;
        }
    </style>
<head>
    <link rel="stylesheet" href="~/Dynamic-Autocomplete-Tag-Input-Plugin-For-jQuery-Tokenize2/dist/tokenize2.min.css">
    <link rel="stylesheet" href="~/Dynamic-Autocomplete-Tag-Input-Plugin-For-jQuery-Tokenize2/tokenize2.css">

</head>

<div class="modal fade" id="modalCreateCocktail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create Cocktail</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Cocktail" asp-action="CreateCocktail">
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlcoholPercentage" class="control-label">AlcoholPercentage</label>
                            <input asp-for="AlcoholPercentage" class="form-control" />
                            <span asp-validation-for="AlcoholPercentage" class="text-danger"></span>
                        </div>

                        <div class="md-form mb-4">
                            Is it alchoholic:
                            <label asp-for="IsAlcoholic" class="switch">
                                <input asp-for="IsAlcoholic" type="checkbox">
                                <span asp-validation-for="IsAlcoholic" class="slider"></span>
                            </label>
                        </div>
                        @*ingredients to do*@
                        <div class="md-form mb-4">
                            <label asp-for="ImageURL" class="control-label">ImageURL</label>
                            <input asp-for="ImageURL" class="form-control" />
                            <span asp-validation-for="ImageURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            Select Ingredients
                            <select class="demo" multiple >
                                @foreach (var item in ViewBag.Ing)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>


                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button asp-controller="Cocktail" asp-action="CreateCocktail" class="btn btn-deep-orange">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Dynamic-Autocomplete-Tag-Input-Plugin-For-jQuery-Tokenize2/dist/tokenize2.min.js"></script>
    <script src="tokenize2.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>$('.demo').tokenize2();
</script>

}




@*<select asp-for="IngredientsForCocktail" id="Id" multiple="multiple" name="Id" size="8">
        @foreach (var item in ViewBag.Ing)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>*@


