<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CocktailMagician</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Button3Dclick.css" />
    <meta charset="utf-8" />

    <link href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.aspnetmvc.min.js"></script>

</head>
<body>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="dropdown">
            <button class="dropbtn" style="color:black; padding: 0;
                 border: none;
                 background: none;">
                <img src="~/Images/49826159-a4-size-vertical-cafe-menu-white-background-with-retro-ribbon-and-border.jpg" style=" width:70px; height:70px; background: none;" />
            </button>
            <div class="dropdown-content">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Bar" asp-action="ListBars">Show All Bars</a>
                <a asp-controller="Cocktail" asp-action="ListCocktails">Show All Cocktails</a>
             
            </div>
           
        </div>
        <partial name="_LoginPartial" />


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      
    @*<footer class="border-top footer text-muted" style="border-top: none;">
        <div class="container">
            &copy; 2020 - CocktailMagician - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
