@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="">Logout</button>
        </form>
    </li>
}
else
{
    <li class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
        <a style="color:antiquewhite" class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
        <a style="color:antiquewhite" class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

